header	{
		background-color: #99C3CC;
/*		background-image: url('/visuels/matrixblue2.jpg'); pour tester des images en guise d'en-tete */
		font-weight: bolder;
		font-family: Impact, Charcoal, sans-serif;
		display: flex;
		flex-direction: row;
		height: 160px;
		justify-content: space-between;
		align-items:center;
		box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.5);
}
#liste	{
	position: static;
	border-style: inset;
	overflow: hidden;
	height: 30%;
/*	max-width: 30%; Apres test, jsuis pas sur que ce soit bien utile */
    margin:30px;
}
#description-victor	{
	display: none;
}
main	{
		padding-top: 75px;
		padding-bottom: 25px;
		display: flex;
		flex-direction: row	;
		align-items: center;
		justify-content: center;
}
ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
 		padding: 0 0 0 20px;
		padding-bottom: 45px;
		background-color: #99C3CC;
		box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
li {
 		margin-top: 3em;
		margin-right: 2em;
}
body	{
		/*width: 100%;*/
		position: fixed;
		background-color: #247A7F;
}
h2	{
		/*margin : 35%;*/
		padding-right: 35%;
}
#contact_p {
		display: none;
}
#formation_p {
		display: none;
}
#photo	{
		padding-top: 5px;
		overflow: hidden; /* la photo n'est plus prioritaire en format responsive */
}
#title	{
		overflow: hidden;
}
#bloc	{
		position: static;
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 0 0 50px 0;
}
#texte {
	text-align: center;
	padding-top: 50px;
  max-width: 70%;
	max-height: 70%;
  overflow: auto;
	background-color:#99C3CC; padding: 50px 50px 50px;
	box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer	{
		position:bottom;
		bottom:0;
		width:99%;
		background-color: black;
		color: #41DCE5;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size:60%;
}
/*#particles canvas{
    position: absolute;
    width: 1000px;
    height: 100%;
		z-index : 99999;
}
#particles-js	{
		position: top;
		top: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
}*/
.content{
    position: relative;
    z-index: 100;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
